/* Base styles */
:root {
	--magenta: #d33682;
	--blue: #268bd2;
	--green: #859900;
	--orange: #cb4b16;
	--gray: #888;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Satoshi", sans-serif;
	color: #444444;
}

a {
	color: var(--green);
	text-decoration: none;
}

a:hover {
	color: #888;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Satoshi", sans-serif;
}

section {
	padding: 80px 0;
	overflow: hidden;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: 700;
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 20px;
	color: #333;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: var(--blue);
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 24px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #888;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	z-index: 997;
	padding: 20px 0;
	background: white;
}

#header.header-scrolled {
	background: rgba(0, 0, 0, 0.9);
	padding: 12px 0;
}

#header .logo {
	font-size: 28px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
}

#header .logo a {
	color: black;
}

#header .logo img {
	max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a, .navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	font-family: "Satoshi", sans-serif;
	font-size: 15px;
	font-weight: 600;
	white-space: nowrap;
	transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
	color: var(--blue);
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 14px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
	border-radius: 4px;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	font-weight: 500;
	color: #333;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
	color: var(--blue);
}

.navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
	left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
	left: -100%;
	}
}

/* Mobile Navigation */
.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
	display: block;
	}
	.navbar ul {
	display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	/* background: rgba(0, 0, 0, 0.9); */
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	border-radius: 10px;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: black;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
	color: var(--blue);
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	background-color: #fafafa;
	background-size: cover;
	position: relative;
}

#hero:before {
	content: "";
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#hero h1 {
	margin: 0;
	font-size: 56px;
	font-weight: 700;
	line-height: 64px;
}

#hero h1 span {
	color: var(--orange);
}

#hero h2 {
	margin: 10px 0 30px 0;
	font-size: 24px;
	font-weight: 400;
}

#hero .btn-get-started {
	font-family: "Satoshi", sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 32px 10px 32px;
	margin-right: 10px;
	border-radius: 50px;
	transition: 0.5s;
	color: white;
	background: var(--magenta);
	text-decoration: none;
	z-index: 10;
}

#hero .btn-get-started:hover {
	background: #888;
}

#hero .btn-contact {
	font-family: "Satoshi", sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 32px 10px 32px;
	border-radius: 50px;
	transition: 0.5s;
	background: transparent;
	text-decoration: none;
	background: var(--green);
	color: white;
	z-index: 10;
}

#hero .btn-contact:hover {
	background: #888;
}

#hero .hero-down-arrow {
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	font-size: 24px;
	color: black;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	transform: translateY(0) translateX(-50%);
	}
	40% {
	transform: translateY(-30px) translateX(-50%);
	}
	60% {
	transform: translateY(-15px) translateX(-50%);
	}
}

@media (max-width: 991px) {
	#hero {
	height: 100vh;
	text-align: center;
	}
	#hero h1 {
	font-size: 36px;
	line-height: 48px;
	}
	#hero h2 {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 30px;
	}
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .about-img {
	position: relative;
	margin: 0;
}

.about .about-img img {
	/* width: 100%; */
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about .about-content h3 {
	font-weight: 700;
	font-size: 26px;
	color: var(--orange);
	margin-bottom: 20px;
}

.about .about-content ul {
	list-style: none;
	padding: 0;
}

.about .about-content ul li {
	padding-bottom: 10px;
}

.about .about-content ul i {
	font-size: 20px;
	padding-right: 4px;
	color: #4154f1;
}

.about .about-content p:last-child {
	margin-bottom: 30px;
}

.about .btn-hire-me {
	font-family: "Satoshi", sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 32px 10px 32px;
	border-radius: 50px;
	transition: 0.5s;
	color: #fff;
	background: var(--green);
	text-decoration: none;
}

.about .btn-hire-me:hover {
	background: #888;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
	background: #fafafa;
}

.portfolio #portfolio-filters {
	padding: 0;
	margin: 0 auto 20px auto;
	list-style: none;
	text-align: center;
}

.portfolio #portfolio-filters li {
	cursor: pointer;
	display: inline-block;
	padding: 8px 15px;
	margin: 0 4px 8px 4px;
	font-size: 15px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: #333;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-filters li:hover, .portfolio #portfolio-filters li.filter-active {
	color: #fff;
	background: var(--magenta);
}

.portfolio .portfolio-item {
	margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	transition: all 0.3s;
	z-index: 1;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.portfolio .portfolio-wrap::before {
	content: "";
	background: var(--green);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all ease-in-out 0.3s;
	z-index: 2;
	opacity: 0;
}

.portfolio .portfolio-wrap img {
	transition: all ease-in-out 0.3s;
	height: 250px;
	object-fit: cover;
	width: 100%;
}

.portfolio .portfolio-wrap .portfolio-info {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 3;
	transition: all ease-in-out 0.3s;
	transform: translateY(10px);
}

.portfolio .portfolio-wrap .portfolio-info h4 {
	font-size: 20px;
	font-weight: 700;
}

.portfolio .portfolio-wrap .portfolio-info p {
	font-size: 14px;
	margin-bottom: 20px;
}

.portfolio .portfolio-wrap .portfolio-links a {
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
	padding: 0 10px;
	line-height: 40px;
	text-align: center;
	transition: 0.3s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a i {
	font-size: 18px;
	line-height: 0;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
	background: rgba(255, 255, 255, 0.4);
}

.portfolio .portfolio-wrap:hover::before {
	opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
	transform: scale(1.1);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
	opacity: 1;
	transform: translateY(-5px);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
	background: white;
}

.contact .contact-about h3 {
	font-size: 28px;
	font-weight: 700;
	margin: 0 0 20px 0;
}

.contact .contact-about p {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 30px;
}

.contact .social-links {
	padding-bottom: 20px;
}

.contact .social-links a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	background: #fafafa;
	color: var(--orange);
	line-height: 1;
	margin-right: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	transition: 0.3s;
}

.contact .social-links a:hover {
	background: var(--magenta);
	color: #fff;
}

.contact .info {
	padding: 30px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
}

.contact .info i {
	font-size: 24px;
	color: var(--blue);
	float: left;
	width: 44px;
	height: 44px;
	background: #f1f4ff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	margin-right: 15px;
}

.contact .info h4 {
	padding: 0 0 0 60px;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}

.contact .info p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px;
}

.contact .info .email, .contact .info .phone {
	margin-top: 40px;
}

.contact .contact-form {
	width: 100%;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
	padding: 30px;
}

.contact .contact-form .form-group {
	padding-bottom: 20px;
}

.contact .contact-form input, .contact .contact-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	border-radius: 4px;
}

.contact .contact-form input:focus, .contact .contact-form textarea:focus {
	border-color: var(--blue);
}

.contact .contact-form input {
	height: 44px;
}

.contact .contact-form textarea {
	padding: 10px 12px;
}

.contact .contact-form button[type="submit"] {
	background: var(--blue);
	border: 0;
	padding: 10px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.contact .contact-form button[type="submit"]:hover {
	background: #888;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: #fafafa;
	padding: 30px 0;
	font-size: 14px;
}

#footer .copyright {
	text-align: center;
}

#footer .copyright span {
	color: #4154f1;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 20px 0;
	background: #fafafa;
	min-height: 40px;
	margin-top: 70px;
}

.breadcrumbs h2 {
	font-size: 28px;
	font-weight: 600;
	color: black;
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.breadcrumbs ol li + li {
	padding-left: 10px;
}

.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: var(--green);
	content: "/";
}

@media (max-width: 768px) {
	.breadcrumbs .d-flex {
	display: block !important;
	}
	.breadcrumbs ol {
	display: block;
	}
	.breadcrumbs ol li {
	display: inline-block;
	}
}

/*--------------------------------------------------------------
# Project Details
--------------------------------------------------------------*/
.project-details {
	padding-top: 15px;
}

.project-details .project-details-slider img {
	width: 100%;
	border-radius: 8px;
}

.project-details .project-info {
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0px 0 30px rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;
}

.project-details .project-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	color: #333;
	border-bottom: 1px solid #eee;
}

.project-details .project-info ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
}

.project-details .project-info ul li + li {
	margin-top: 10px;
}

.project-details .project-info ul strong {
	margin-right: 5px;
	color: var(--orange);
}

.project-details .project-description {
	padding-top: 10px;
}

.project-details .project-description h2 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #333;
}

.project-details .project-description p {
	padding: 0;
	font-size: 15px;
	line-height: 24px;
	color: #444;
}

/* Animations */
.animate__animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animate__delay-1s {
	animation-delay: 1s;
}

.animate__delay-2s {
	animation-delay: 2s;
}

@keyframes fadeIn {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}

.animate__fadeIn {
	animation-name: fadeIn;
}

@keyframes fadeInUp {
	from {
	opacity: 0;
	transform: translate3d(0, 40px, 0);
	}
	to {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	}
}

.animate__fadeInUp {
	animation-name: fadeInUp;
}

.btn-submit {
	background: var(--green);
	border: 0;
	padding: 10px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.btn-submit:hover {
	background: #888;
}