body {
    font-family: monospace; /* Mimic the font */
    margin: 0;
    background-color: #f8f8f8; /* Light gray background */
    color: #333; /* Dark gray text */
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content {
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

li span {
    color: #777; /* Lighter gray for dates */
    margin-right: 10px;
}

a {
    color: #007bff; /* Blue links */
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.project-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 0 10px;
}

.project-card a {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

.project {
	display: flex; /* Arrange image and text horizontally */
	align-items: center; /* Vertically align image and text */
	margin-bottom: 20px; /* Space between projects */
}

.project a {
	display: block;
	margin-left: 10px;
}
  
.project-image {
	width: 250px;
	height: auto;
	margin-left: 10px; /* Space between image and text */
	border-radius: 4px; 
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-me ul {
	display: flex;
	padding: 0;
}

.contact-me a {
	text-decoration: none;
	font-family: monospace;
	color: #007bff;
	margin-right: 10px;
}

#data-science {
	border-top: 1px solid #ddd;
}

#data-science h2 {
	text-align: left;
	padding: 0;
}

.highlight {
	background-color: #ffeb99;
	padding: 5px;
	border-radius: 4px;
	margin: 0;
}

.content img {
	width: 100%;
	height: auto;
}