:root {
	--base03: #002b36;
	--base02: #073642;
	--base01: #586e75;
	--base00: #657b83;
	--base0:  #839496;
	--base1:  #93a1a1;
	--base2:  #eee8d5;
	--base3:  #fdf6e3;
	--yellow: #b58900;
	--orange: #cb4b16;
	--red:    #dc322f;
	--magenta:#d33682;
	--violet: #6c71c4;
	--blue:   #268bd2;
	--cyan:   #2aa198;
	--green:  #859900;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: var(--base02);
	background-color: var(--base3);
}

p {
	color: var(--base02);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px;
	font-style: bold;
	color: var(--base03);
}

.container {
	display: flex;
	flex-direction: row;
	padding: 40px;
	gap: 50px;
}

.left {
	width: 50%;
}

.left h1 {
	font-size: 2.5em;
}

.left p {
	font-size: 1.2em;
}

.skills, .projects {
	margin-top: 20px;
}

.skills button, .projects div {
	margin: 10px 0;
	padding: 10px;
	width: 75%;
	border: none;
	font-size: 1em;
	text-align: left;
	border-radius: 10px;
}

.skills button {
	background-color: var(--base2);
	box-shadow: var(--base0);
}

.projects div {
	background-color: var(--base2);
	box-shadow: var(--base0);
}

.right {
	width: 50%;
}

.profile-pic {
	width: 200px;
	height: 200px;
	background-image: url("../headshot.png");
	background-size: contain;
	margin-bottom: 20px;
	border-radius: 10px;
}

.social-media ul {
	padding: 0;
}

.btn-social {
	color: var(--cyan);
	font-size: 2rem;
}

.btn-social:hover {
	color: var(--blue);
}

.magenta-ul {
	color: var(--magenta);
}

.green-ul {
	color: var(--green);
}

.orange-ul {
	color: var(--orange);
}